body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}
.box-title {
  background-color:#FEFEFE;
  margin: 36px 30px 34px 30px;
  padding:43px 61px 29px  61px;
}

h1 {
  font-family: 'Sriracha';
}

header {
  color:#57bb6b;
  font-family: 'Quattrocento';
  background-image: url(../img/bckgrnd.png);
  background-size: cover;
  padding: 30px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-dark {
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-family:'Maven Pro';
  background-color:#57bb6b;
}

.cta-light {
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fefefed4;
  font-family:'Maven Pro';
}

p .cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quattrocento';
}

h2 {
  font-family: 'Maven Pro', sans-serif; 
}

.section-light {
  background-color: #ffffff;  
}

.section-light p {
  font-family: 'Quattrocento', serif;
}

.fruits {
  display:flex;
  flex-direction:row;
  max-width: 27px;
  align-content: space-around;
}

.section-dark {
  background-color: #57bb6b;
}

h3 {
  font-family: 'Sriracha', cursive;
}

.section-dark p {
  font-family: 'Quattrocento', serif;
  color: #000000ad;
}

a {
  font-family:'Maven Pro';
}

.card {
  color: #060E17;
  padding: 40px;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}

.banana{
  background-color: #fff8d7;
}
.kiwi {
  background-color: #c4f2ad;
}
.
